.app-background {
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.207)), 
    url('../public/background-countertops.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* ... other CSS ... */
.progress-bar {
  margin-bottom: 16px;
  

}

.logo-container img {
  width: 100%;  /* or max-width: 100%; */
  height: auto;
  max-width: 125px; /* You can set max-width as per your need */
  margin-bottom: 16px;
}



/* Media query for tablets and larger mobile devices */
@media (min-width: 480px) and (max-width: 767px) {
  .step-wrapper-container {
      padding: 0 30px;
  }
}

/* Media query for desktops and larger tablets */
@media (min-width: 768px) {
  .step-wrapper-container {
      padding: 0 50px;
  }
}

/* Media query for larger desktops */
@media (min-width: 1200px) {
  .step-wrapper-container {
      padding: 0 80px;
  }
}